.nav-container {
    background-color: #2185D5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: #F3F3F3;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.nav-item {
    list-style: none;
    width: 45%;
    margin: 10px 20px;
}

.nav-item_link {
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.6em;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.nav-item_link:hover {
    cursor: pointer;
    box-shadow: inset 200px 0 0 0 #3a47509f;
    font-weight: bold;
}

.nav-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}