.search-container {
  margin: 5px 50px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.inputs-col_1,
.inputs-col_2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.input-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}

.input-field label {
  width: 70px;
}

.input-field input {
  width: 300px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #555555;
  padding: 2px 5px;
}

input[type="date"] {
  width: 120px;
}

.search-btn {
  padding: 1px 5px;
  width: 50px;
  border: 1px solid #555555;
  border-radius: 5px;
}
