@import "../../variables.scss";

.search-container {
  width: 100%;
  position: relative;

  .search-nav {
    display: flex;
    width: 100%;

    .search-header {
      width: 100%;
      background-color: rgb(153, 184, 184);
      height: 350px;

      @include breakpoint(md) {
        height: 200px;
      }

      .input-fields {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 20px;

        @include breakpoint(md) {
          flex-direction: row;
        }

        .date-inputs {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
          gap: 10px;
          width: 100%;

          @include breakpoint(md) {
            width: 60%;
          }
        }
        .search-btns {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40%;
        }
      }
    }
    .search-sidebar {
      display: none;

      .in_out {
        input {
          margin: 10px;
        }
        label {
          margin: 10px;
        }
      }

      .search-sidebar_tags {
        div input,
        div label {
          margin: 10px;
        }
      }

      @include breakpoint(md) {
        display: block;
        width: 250px;
        background-color: aquamarine;
        height: 100vh;
      }
    }
  }

  .search-result {
    position: absolute;
    top: 350px;
    right: 0;
    background-color: blueviolet;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint(md) {
      width: calc(100% - 250px);
      top: 200px;
      margin: 20px 20px;
    }
  }
}
